{% extends 'base.html' %}

{% block body %}
<br>
    <div class="jumbotron">
        <h1 class="display-4" style="font-weight: bold; font-size:40px;">Hello, Aaron’s here,</h1>
        <p class="lead">I’m currently a grade 10 student at Ridley College. 
        The story of this website originated with Covid. Because of the Covid protocol, 
        a Ridley tradition, offline Personal Project showcase, had to be cancelled. 
        Base on my personal interest in programming and website development, 
        I decided to build a virtual showcase website for Ridley, 
        which continues the Ridley tradition. I believe this virtual showcase also helps people, 
        who cannot attend our offline showcase, to join the showcase remotely. 
        Hope you enjoy this only showcase and website!</p>   
    </div>

{% endblock body %}