{% extends 'base.html' %}

{% block body %}
<h1 class="title ">Gallery</h1>
<hr>
    {% for case in object_list %}
        <div class="jumbotron">
            {% if case.cover_image %}
                {% for case in case_list%}
                    <div class="jumbotron" id="case_jumbotron">
                        <a href="{% url 'ag:case_detail' pk=case.pk %}" class="btn btn-outline-dark" id="case_link">{{case.project_name}}</a>
                        <img src="{{case.cover_image.url}}">
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}

{% endblock body %}