{% extends 'base.html' %}

{% block body %}
<br>
<br>
<div class="jumbotron" id = "jumbotron">
  <h1>2021 Ridley College Grade 10 Personal Project Virtual Showcase</h1>
  <hr>
  <h1>Welcome to 2020-2021 Personal Project Online Show Case</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn btn-outline-primary btn-lg button" href="{% url 'ag:case_list' %}">Go to the showcase</a>
</div>

{% endblock body %}